.signup-form {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .signup-form h2 {
    margin-top: 0;
    font-weight: bold;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }
  
  input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
    border-color: #aaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
 
  
  .btn {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #337ab7;
    color: #fff;
  }
  
  .btn:hover {
    background-color: #23527c;
  }
  
  .btn:active {
    background-color: #23527c;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .signup-form p {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
  }
  
  .signup-form a {
    text-decoration: none;
    color: #337ab7;
  }
  
  .signup-form a:hover {
    color: #23527c;
  }